{{ if .Site.Params.experience.enable | default false }}
<div id="experience" class="h-screen py-20 px-4 mb-20">
  <div class="container mx-auto h-full">
    <h2 class="text-4xl md:text-5xl font-bold text-center mb-16 tracking-wide animate-fade-in" data-aos="zoom-in">
      <i class="fas fa-briefcase text-pink-500 mr-4 animate-bounce"></i>
      {{ .Site.Params.experience.title | default "Experience" }}
    </h2>
    <div class="w-full max-h-[calc(100vh-200px)] overflow-y-auto" data-aos="fade-up">
      {{ range (where .Site.RegularPages "Section" "experience") }}
        <div class="rounded-lg p-6 bg-white shadow-lg hover:shadow-xl transition-all duration-300">
         
          <div class="flex flex-wrap justify-center gap-20 md:gap-20 mb-6 w-full p-4 grid grid-cols-4 md:grid-cols-6">
            {{ range .Params.skills }}
              {{ if eq . "JavaScript" }}
                <div class="flex flex-col items-center group">
                  <i class="fab fa-js text-yellow-400 text-2xl md:text-4xl group-hover:scale-125 transition-all duration-300 transform group-hover:rotate-12 hover:animate-bounce"></i>
                  <span class="text-xs md:text-sm mt-2">JavaScript</span>
                </div>
              {{ else if eq . "HTML" }}
                <div class="flex flex-col items-center group">
                  <i class="fab fa-html5 text-orange-500 text-2xl md:text-4xl group-hover:scale-125 transition-all duration-300 transform group-hover:rotate-12 hover:animate-bounce"></i>
                  <span class="text-xs md:text-sm mt-2">HTML</span>
                </div>
              {{ else if eq . "CSS" }}
                <div class="flex flex-col items-center group">
                  <i class="fab fa-css3-alt text-blue-600 text-2xl md:text-4xl group-hover:scale-125 transition-all duration-300 transform group-hover:rotate-12 hover:animate-bounce"></i>
                  <span class="text-xs md:text-sm mt-2">CSS</span>
                </div>
              {{ else if eq . "NodeJS" }}
                <div class="flex flex-col items-center group">
                  <i class="fab fa-node-js text-green-600 text-2xl md:text-4xl group-hover:scale-125 transition-all duration-300 transform group-hover:rotate-12 hover:animate-bounce"></i>
                  <span class="text-xs md:text-sm mt-2">NodeJS</span>
                </div>
              {{ else if eq . "Bootstrap" }}
                <div class="flex flex-col items-center group">
                  <i class="fab fa-bootstrap text-purple-600 text-2xl md:text-4xl group-hover:scale-125 transition-all duration-300 transform group-hover:rotate-12 hover:animate-bounce"></i>
                  <span class="text-xs md:text-sm mt-2">Bootstrap</span>
                </div>
              {{ else if eq . "Tailwind" }}
                <div class="flex flex-col items-center group">
                  <img src="/images/tailwindcss.svg" class="w-6 h-6 md:w-8 md:h-8 group-hover:scale-125 transition-all duration-300 transform group-hover:rotate-12 hover:animate-bounce" alt="Tailwind" />
                  <span class="text-xs md:text-sm mt-2">Tailwind</span>
                </div>
              {{ else if eq . "MySQL" }}
                <div class="flex flex-col items-center group">
                  <img src="/images/mysql.svg" class="w-6 h-6 md:w-8 md:h-8 group-hover:scale-125 transition-all duration-300 transform group-hover:rotate-12 hover:animate-bounce" alt="MySQL" />
                  <span class="text-xs md:text-sm mt-2">MySQL</span>
                </div>
              {{ else if eq . "MongoDB" }}
                <div class="flex flex-col items-center group">
                  <img src="/images/mongodb.svg" class="w-6 h-6 md:w-8 md:h-8 group-hover:scale-125 transition-all duration-300 transform group-hover:rotate-12 hover:animate-bounce" alt="MongoDB" />
                  <span class="text-xs md:text-sm mt-2">MongoDB</span>
                </div>
              {{ else if eq . "ReactJS" }}
                <div class="flex flex-col items-center group">
                  <i class="fab fa-react text-blue-400 text-2xl md:text-4xl group-hover:scale-125 transition-all duration-300 transform group-hover:rotate-12 hover:animate-spin"></i>
                  <span class="text-xs md:text-sm mt-2">ReactJS</span>
                </div>
              {{ else if eq . "Redux" }}
                <div class="flex flex-col items-center group">
                  <img src="/images/redux.svg" class="w-6 h-6 md:w-8 md:h-8 group-hover:scale-125 transition-all duration-300 transform group-hover:rotate-12 hover:animate-bounce" alt="Redux" />
                  <span class="text-xs md:text-sm mt-2">Redux</span>
                </div>
              {{ else if eq . "Figma" }}
                <div class="flex flex-col items-center group">
                  <i class="fab fa-figma text-pink-600 text-2xl md:text-4xl group-hover:scale-125 transition-all duration-300 transform group-hover:rotate-12 hover:animate-bounce"></i>
                  <span class="text-xs md:text-sm mt-2">Figma</span>
                </div>
              {{ else if eq . "Canva" }}
                <div class="flex flex-col items-center group">
                  <img src="/images/canva.svg" class="w-6 h-6 md:w-8 md:h-8 group-hover:scale-125 transition-all duration-300 transform group-hover:rotate-12 hover:animate-bounce" alt="Canva" />
                  <span class="text-xs md:text-sm mt-2">Canva</span>
                </div>
              {{ else if eq . "Express" }}
                <div class="flex flex-col items-center group ">
                  <div class="p-2 rounded-full w-11" style="background-color: #fff !important;">
                    <img src="/images/express.svg" class="w-10 md:w-10 group-hover:scale-125 transition-all duration-300 transform group-hover:rotate-12 hover:animate-bounce" alt="Express" />
                  </div>
                  <span class="text-xs md:text-sm mt-2">Express</span>
                </div>
              {{ else if eq . "Laravel" }}
                <div class="flex flex-col items-center group">
                  <i class="fab fa-laravel text-red-600 text-2xl md:text-4xl group-hover:scale-125 transition-all duration-300 transform group-hover:rotate-12 hover:animate-bounce"></i>
                  <span class="text-xs md:text-sm mt-2">Laravel</span>
                </div>
              {{ else if eq . "PHP" }}
                <div class="flex flex-col items-center group">
                  <i class="fab fa-php text-indigo-600 text-2xl md:text-4xl group-hover:scale-125 transition-all duration-300 transform group-hover:rotate-12 hover:animate-bounce"></i>
                  <span class="text-xs md:text-sm mt-2">PHP</span>
                </div>
              {{ end }}
            {{ end }}
          </div>
          <div class="prose text-center hover:scale-105 transition-transform duration-300">
            {{ .Content }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
